<!DOCTYPE html>
<html>

<head>
    <title>Chicago Restaurant Recommendations</title>
</head>

<body>
    <h2>What would you like to eat?</h2>
    <form action="{{ url_for('index') }}" method="POST">
        {{ form.hidden_tag() }} <!-- This automatically includes CSRF token -->
        <label for="Neighborhood">Neighborhood</label>
        {{ form.neighborhood() }} <!-- Flask-WTF handles input -->
        <label for="Category">Category</label>
        {{ form.category() }} <!-- Flask-WTF handles input -->
        <label for="Price">Price</label>
        {{ form.price() }} <!-- Flask-WTF handles input -->
        {{ form.submit() }} <!-- Submit button -->
    </form>
    {% with recommendations = get_flashed_messages() %}
    <h3>
        {% if recommendations %}
        {% for rec in recommendations %}
        <li>{{ rec }}</li> <!-- Print each rec one at a time -->
        {% endfor %}
        {% else %}
        No Results, Please Enter a Different Query
        {% endif %}
    </h3>
    {% endwith %}

</body>

</html>